@charset "UTF-8";

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif-Bold";
  font-display: swap;
  src: url("../fonts/NotoSerif-Bold.woff") format("woff"), url("../fonts/NotoSerif-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.nav-toggle {
  position: relative;
  z-index: 51;
  display: none;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 20px;
  height: 3px;
  background: #fff;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 30px;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  background: #fff;
  position: absolute;
  right: -10px;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle._active .nav-toggle__item {
  background: none;
}

.nav-toggle._active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle._active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

.slick-slide:focus {
  outline: none;
}

.main__header {
  position: relative;
}

.main__header .header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 1000;
  padding: 25px 0 0 0;
}

.main__header .header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #333333;
  -webkit-box-shadow: 0 0 10px rgba(246, 241, 241, 0.6);
  box-shadow: 0 0 10px rgba(246, 241, 241, 0.6);
  padding: 10px 0;
}

.main__header .header.active .header-menu-list {
  display: block;
}

.main__header .header.active .actions-header {
  display: block;
}

.main__header .header.active:after {
  display: block;
}

.main__header .header:after {
  content: " ";
  display: none;
  width: 100%;
  height: 100vh;
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
}

.main__header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__header .header__logo {
  margin: 0 99px 0 126px;
  position: relative;
  z-index: 15;
}

.main__header .header-social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.main__header .header-social__item {
  margin-right: 15px;
}

.main__header .header-social__item:last-child {
  margin-right: 0;
}

.main__header .header-social__link {
  display: block;
}

.main__header .header-social__link img {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 25px;
  width: 25px;
}

.main__header .header-social__link:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.main__header .header-social__iccon_l {
  width: 18px !important;
  height: 17px !important;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-list__item_arr:after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  right: -22px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.header-menu-list__item_arr:hover:after {
  -webkit-transform: rotate(180deg) translate(0, 30%);
  -ms-transform: rotate(180deg) translate(0, 30%);
  transform: rotate(180deg) translate(0, 30%);
}

.header-menu-list__item + .header-menu-list__item {
  margin-left: 40px;
}

.header-menu-list__link {
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
  transition: all 0.8s ease 0s;
}

.header-menu-list__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin-top: 5px;
  left: 0;
}

.header-menu-list__link_arr:hover:after {
  width: 0 !important;
}

.header-menu-list__link:hover:after {
  width: 100%;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.actions-header__form {
  display: none;
}

.actions-header__form.active {
  display: block;
}

.actions-header__form .input {
  padding: 5px 10px;
}

.actions-header__form .input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.search__iccon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.search__iccon.active {
  display: none;
}

.search__iccon:after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin-top: 5px;
  left: 0;
}

.search__iccon:hover:after {
  width: 100%;
}

.search__iccon img {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: block;
}

.search__iccon span {
  display: block;
  padding-left: 13px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.search__img {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.enter-header {
  margin: 0 40px;
}

.enter-header__link {
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  transition: all 0.8s ease 0s;
}

.enter-header__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin-top: 5px;
  left: 0;
}

.enter-header__link:hover:after {
  width: 100%;
}

.links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.links-header__item {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.links-header__item:hover {
  fill: #000;
}

.links-header__item + .links-header__item {
  margin-left: 25px;
}

.links-header__img {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.links-header__img_like {
  width: 18px;
  height: 16px;
}

.links-header__img:hover {
  fill: #cccccc;
}

.links-header__img_like {
  width: 20px !important;
  height: 20px !important;
}

.menu li {
  position: relative;
}

.menu a.parent {
  margin: 0 20px 0 0;
}

.menu__list > li {
  margin: 0 20px 0 0;
}

.sub-menu__list {
  display: none;
  min-width: 200px;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 15px 0 0 0;
}

.sub-menu__list > li {
  background: #fff;
  padding: 5px 0 5px 5px;
  border-top: 1px solid #dbdbdb;
}

.sub-menu__list > li:last-child {
  padding-bottom: 5px;
}

.sub-menu__link {
  color: #000;
  display: inline-block;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.sub-menu__link:hover {
  color: #e7baba;
}

.sub-menu__link + .sub-menu__link {
  padding: 5px 0 0 0;
}

.sub-sub-menu__list {
  display: none;
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0 0 0 5px;
}

.sub-sub-menu__list > li {
  background: orange;
  padding: 5px 0 0 5px;
}

.sub-sub-menu__list > li:last-child {
  padding-bottom: 5px;
}

.arrow {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 7px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.sub-menu__arrow.arrow {
  right: 10px;
  border-left: 7px solid #000;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .sub-sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background: url("../img/intro/bgc.png") no-repeat center center;
  background-size: cover !important;
  padding-bottom: 25px;
}

.intro__inner {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.intro__row {
  text-align: center;
}

.intro__title {
  margin-bottom: 50px;
  display: block;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  font-family: "NotoSerif-Bold";
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  max-width: 261px;
  text-align: center;
  margin: 0 auto;
  background: #333333;
  border: 1px solid #FFFFFF;
  height: 51px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.intro__btn:hover {
  color: #333333;
  background: #fff;
}

#brands-slider {
  max-width: 1140px;
  margin: 0 auto;
}

.bottom-intro {
  margin-top: 80px;
  position: relative;
  border-top: 1px solid #fff;
  padding: 30px 0 0;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.brands__item {
  border-right: 1px solid #fff;
  padding: 0 15px;
}

.brands__item img {
  display: block;
  width: 160px;
  height: 60px;
  -o-object-fit: contain;
  object-fit: contain;
}

.brands__item:last-child {
  border-right: 0;
}

.events {
  background: #faf8f8;
  padding: 40px 0 20px;
}

.events__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px -15px 0;
}

.events__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 15px;
}

.events__column.hide {
  display: none;
}

.events__column img {
  max-width: 100%;
}

.events__content {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 5;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.events-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 60px 0;
}

.events-menu-list__item + .events-menu-list__item {
  margin-left: 18px;
}

.events-menu-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-size: 18px;
  text-align: center;
  width: 171px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  color: #333333;
  border: 1px solid #d6d6d6;
  background: transparent;
  height: 55px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
}

.events-menu-list__link.active {
  background: #333333;
  color: #fff;
}

.events-menu-list__link.active:before {
  display: none;
}

.events-menu-list__link.active:after {
  display: none;
}

.events-menu-list__link:hover {
  background: #333333;
  color: #fff;
}

.events-menu-list__link:hover:before {
  display: none;
}

.events-menu-list__link:hover:after {
  display: none;
}

.events-menu-list__link span {
  position: relative;
  z-index: 10;
}

.events-menu-list__link:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #faf8f8;
  z-index: 5;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.events-menu-list__link:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translate(6px, 6px);
  -ms-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.events-menu-list__link:focus {
  outline: none;
}

.item {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.item:hover:after {
  width: 100%;
}

.item:hover .item__title {
  color: #333333;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.item:after {
  content: " ";
  display: block;
  width: 0;
  height: 100%;
  background: rgba(56, 238, 238, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item img {
  display: block;
}

.item__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.salon {
  background: url("../img/salon/bg.png") no-repeat;
  background-size: cover;
}

.salon__description {
  display: block;
  margin: 45px auto 60px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  line-height: 140%;
  max-width: 730px;
}

.blog {
  background: #faf8f8;
}

.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px -15px;
}

.blog__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 333.333%;
  flex: 0 1 333.333%;
  padding: 0 15px;
}

.blog__column img {
  max-width: 100%;
}

.blog__item {
  position: relative;
  display: block;
}

.blog__item img {
  display: block;
}

.blog__item:hover:after {
  height: 100%;
}

.blog__item:hover .blog__title {
  color: #333333;
}

.blog__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  background: rgba(56, 238, 238, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.blog__content {
  position: absolute;
  left: 50%;
  bottom: 35px;
  z-index: 5;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
}

.blog__title {
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.gallery {
  background: #faf8f8;
  padding: 0 0 100px 0;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
}

.gallery__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.gallery__column_l {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.gallery__item {
  display: block;
  position: relative;
}

.gallery__item:focus {
  outline: none;
}

.gallery__item:hover:after {
  opacity: 1;
  visibility: visible;
}

.gallery__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.gallery__item img {
  display: block;
  max-width: 100%;
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery__item_video:before {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
  background: url("../img/gallery/play.png") no-repeat;
}

.subscribe {
  background: url("../img/subscribe/bg.png") no-repeat;
  background-size: cover;
}

.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
}

.subscribe-list__item {
  padding-left: 37px;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
  background: url("../img/subscribe/subscribe__icon.png") 0 center no-repeat;
}

.subscribe-list__item + .subscribe-list__item {
  margin-top: 15px;
}

.form {
  border: 1px solid #FFFFFF;
  padding: 14px 15px;
  margin-left: 80px;
}

.form__inner {
  background: #fff;
  padding: 20px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__input .input {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-family: "Gilroy-Medium";
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  border: 1px solid #D6D6D6;
  background: #fff;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 20px;
}

.form__input .input.error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.form__input .input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.form__input .input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.form__input .input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.form__input .input::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.form__input .input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.form__input .input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
}

.footer {
  background: #faf8f8;
  padding: 80px 0 20px;
}

.footer__top {
  margin-bottom: 60px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 15px;
}

.footer__header {
  border-bottom: 1px solid #333333;
  margin-bottom: 30px;
}

.footer__title {
  color: #333333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 18px;
  font-family: "Gilroy-Medium";
  padding-bottom: 10px;
}

.footer__description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 21px;
}

.footer-menu-list__item + .footer-menu-list__item {
  margin-top: 15px;
}

.footer-menu-list__link {
  font-size: 14px;
  color: #333333;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
}

.footer-menu-list__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  top: 100%;
  background: #333333;
  left: 0;
  margin-top: 3px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.footer-menu-list__link:hover:after {
  width: 100%;
}

.payments-footer__item + .payments-footer__item {
  margin-left: 20px;
}

.contacts-footer__item {
  background: url("../img/footer/phone.png") 0 center no-repeat;
  padding-left: 40px;
}

.contacts-footer__item_m {
  background: url("../img/footer/message.png") 0 center no-repeat;
}

.contacts-footer__item + .contacts-footer__item {
  margin-top: 15px;
}

.contacts-footer__link {
  font-size: 14px;
  color: #333333;
}

.contacts-footer__link:hover {
  text-decoration: underline;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 20px;
}

.footer-social__link {
  display: block;
}

.footer-social__link img {
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.footer-social__link:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.footer-bottom {
  border-top: 1px solid #333333;
}

.footer-bottom__inner {
  padding-top: 20px;
}

.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom__item:hover:not(:first-child) {
  text-decoration: underline;
}

.footer-bottom__copy {
  font-size: 14px;
  color: #333333;
}

.footer-bottom__title {
  font-size: 14px;
  color: #333333;
}

.footer-bottom__title_info {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #333333;
  font-family: "Gilroy-Semibold";
}

.catalog {
  background: #faf8f8;
  padding: 50px 0;
}

.other__header .header {
  width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 1000;
  padding: 27px 0;
  background: #333333;
}

.other__header .header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #333333;
  -webkit-box-shadow: 0 0 10px rgba(246, 241, 241, 0.6);
  box-shadow: 0 0 10px rgba(246, 241, 241, 0.6);
  padding: 10px 0;
}

.other__header .header.active .header-menu-list {
  display: block;
}

.other__header .header.active .actions-header {
  display: block;
}

.other__header .header.active:after {
  display: block;
}

.other__header .header:after {
  content: " ";
  display: none;
  width: 100%;
  height: 100vh;
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
}

.other__header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.other__header .header__logo {
  margin: 0 99px 0 126px;
  position: relative;
  z-index: 15;
}

.other__header .header-social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.other__header .header-social__item {
  margin-right: 15px;
}

.other__header .header-social__item:last-child {
  margin-right: 0;
}

.other__header .header-social__link {
  display: block;
}

.other__header .header-social__link img {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 25px;
  width: 25px;
}

.other__header .header-social__link:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.other__header .header-social__iccon_l {
  width: 18px !important;
  height: 17px !important;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 -15px;
}

.product-menu li {
  position: relative;
}

.product-menu a.parent {
  margin: 0 20px 0 0;
}

.product__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 15px;
  margin-bottom: 45px;
}

.product__column_hidden {
  display: none;
}

.product__button-more {
  margin: 5px 0 70px;
}

.product__btnShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  font-family: inherit;
  height: 51px;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.05em;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: #333333;
  padding: 0 30px;
  margin: 0 auto;
  transition: all 0.8s ease 0s;
  cursor: pointer;
}

.product__btnShow:hover {
  background: #fff;
  color: #333;
}

.product__btnShow:focus {
  outline: none;
}

.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product__row:not(:first-child) {
  border-top: 1px solid #d6d6d6;
  margin-top: 40px;
  padding-top: 40px;
}

.product__row.hidden {
  display: none;
}

.product-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-menu-list__item {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
  margin-right: 30px;
}

.product-menu-list__item:last-child {
  margin-right: 0;
}

.product-menu-list__link {
  font-size: 16px;
  display: block;
  color: #333333;
  min-width: 160px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.product-menu-list__link:hover:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.product-menu-list__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #333333;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
}

.product-item {
  text-align: center;
}

.product-item__suptitle {
  font-size: 16px;
  color: #333333;
  display: block;
  margin-top: 20px;
}

.product-item__name {
  display: block;
  margin: 10px 0 15px;
  font-size: 24px;
  color: #333333;
  font-family: "Gilroy-Semibold";
}

.product-item__btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  font-family: inherit;
  height: 41px;
  padding: 0 20px;
  color: #fff;
  letter-spacing: 0.05em;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: #333333;
  max-width: 125px;
  margin: 0 auto;
}

.product-item__btn .btn:hover {
  color: #333333;
  background: #fff;
}

.seo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.seo__text.active {
  display: block;
}

.seo__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.seo__block:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.seo__block + .seo__block {
  padding-left: 60px;
}

.seo__description {
  color: #333;
  line-height: 24px;
}

.seo__description p span {
  display: none;
}

.seo__more {
  margin-top: 15px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 0;
  color: #333333;
  display: block;
  border-bottom: 1px dashed #333333;
  padding-bottom: 5px;
}

.seo__more:focus {
  outline: none;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.block-item {
  text-align: center;
  margin-bottom: 30px;
}

.block-item__title {
  font-size: 16px;
  display: block;
  margin-top: 10px;
  color: #000000;
  line-height: 23px;
}

.block-item__title span {
  display: block;
}

.product-menu-list__subform {
  display: none;
  background: #faf8f8;
  min-width: 255px;
  position: absolute;
  left: 0;
  top: 29px;
  z-index: 5;
  padding: 15px 0 0 0;
  border: 1px solid #d6d6d6;
}

.product-menu-list__submenu {
  padding: 5px 0 15px 25px;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
}

.product-menu-list__submenu li {
  margin-top: 15px;
}

.product-menu-list__submenu li:last-child {
  padding-bottom: 5px;
}

.product-menu-list__submenu li:first-child {
  margin-top: 0;
}

.product-menu-list__subname {
  color: #333333;
  font-size: 14px;
  padding-left: 15px;
}

.product-menu-list__subfooter {
  padding: 10px 25px 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-menu-list__subreset {
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px dashed #333333;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Gilroy-Medium";
  background: none;
}

.product-menu-list__subreset:focus {
  outline: none;
}

.product-menu-list__subbtn {
  max-width: 130px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Gilroy-Medium";
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 35px;
  height: 45px;
  border: 1px solid #ffffff;
  background: #333333;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.product-menu-list__subbtn:hover {
  background: #38eeee;
  color: #333333;
}

.product-menu-list__subbtn:focus {
  outline: none;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.checkbox__real {
  display: none;
}

.checkbox__real:checked + .checkbox__fake:after {
  opacity: 1;
  visibility: visible;
}

.checkbox__real:checked + .checkbox__fake:before {
  opacity: 1;
  visibility: visible;
}

.checkbox__fake {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #d6d6d6;
  position: relative;
}

.checkbox__fake:after {
  content: " ";
  display: block;
  width: 20px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 20px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.checkbox__fake:before {
  content: " ";
  display: block;
  background: url("../img/catalog/bx_bx-check.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
}

body.mouse .product-menu-list > li:hover .product-menu-list__subform {
  display: block;
}

body.touch .product-menu-list__subform.open {
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

.seo__text.active {
  display: block;
}

.arrow_black {
  border-top: 7px solid #000 !important;
}

.products {
  padding: 60px 0 0;
  background: #faf8f8;
}

.products .product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}

.products .product__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.products .product__content {
  margin-left: 30px;
}

.products .product__title {
  font-size: 30px;
  color: #333333;
  display: block;
  font-family: "Gilroy-Semibold";
  margin-bottom: 30px;
}

.products .product-breadcrumps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.products .product-breadcrumps-list__item:after {
  content: "/";
  display: inline-block;
  width: 9px;
  height: 24px;
  margin: 0 15px;
  color: #333333;
}

.products .product-breadcrumps-list__item:last-child:after {
  opacity: 0;
  margin: 0;
}

.products .product-breadcrumps-list__link {
  font-size: 14px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #333333;
}

.products .product-breadcrumps-list__link:hover {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.products .product-breadcrumps-list__link_active {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.products .product-gallery img {
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  max-width: 100%;
  display: block;
  padding: 0 5px;
}

.products .product-gallery__header {
  margin-bottom: 30px;
}

.products .product-gallery__item {
  margin-right: 10px;
}

.products .product-gallery__item:last-child {
  margin-right: 0;
}

.products .product-gallery__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products .content-product {
  border: 1px solid #d6d6d6;
  padding: 10px;
}

.products .content-product__row {
  border: 1px solid #d6d6d6;
  padding: 40px 30px;
}

.products .content-product__header {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.products .content-product__title {
  display: block;
  margin-bottom: 15px;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  font-family: "Gilroy-Medium";
}

.products .content-product__description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  display: block;
  margin-bottom: 15px;
}

.products .content-product__price {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "Gilroy-Semibold";
  color: #333333;
}

.products .content-product__footer {
  margin-top: 22px;
}

.products .content-product__btn {
  margin-left: 30px;
}

.products .content-product__btn:first-child {
  margin-left: 0;
}

.products .content-product__btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Gilroy-Medium";
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 20px;
  max-width: 110px;
  height: 45px;
  background: #333333;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.products .content-product__btn .btn:hover {
  background: #38eeee;
  color: #333333;
}

.products .content-product__btn .btn:focus {
  outline: none;
}

.products .content-product__btn .btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Gilroy-Medium";
  cursor: pointer;
  text-transform: uppercase;
  color: #333333;
  padding: 0 20px;
  height: 45px;
  border: 1px solid #333333;
  background: #fff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.products .content-product__btn .btn-white:hover {
  background: #38eeee;
  color: #333333;
}

.products .content-product__btn .btn-white:focus {
  outline: none;
}

.products .content-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products .content-product-list__item {
  font-size: 14px;
  color: #979797;
  margin-left: 15px;
}

.products .content-product-list__item:first-child {
  margin-left: 0;
}

.seo__text.active {
  display: block;
}

.contacts {
  background: #faf8f8;
}

.contacts #map {
  width: 100%;
  height: 750px;
}

.contacts__inner {
  margin-top: 40px;
}

.contacts__title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  font-family: "Gilroy-Medium";
}

.contacts__row {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #d6d6d6;
}

.contacts__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.contacts-item {
  position: relative;
}

.contacts-item__title {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Gilroy-Semibold";
  line-height: 140%;
  color: #333333;
}

.contacts-item__address {
  font-style: normal;
}

.contacts-item__address p:first-child:before {
  content: " ";
  display: block;
  background: url("../img/contacts/gridicons_location.png") no-repeat 0 center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.contacts-item__phone {
  max-width: 115px;
}

.contacts-item__phone:first-child:before {
  content: " ";
  display: block;
  background: url("../img/contacts/carbon_phone-filled.png") no-repeat 0 center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.contacts-item__email {
  max-width: 115px;
}

.contacts-item__email:first-child:before {
  content: " ";
  display: block;
  background: url("../img/contacts/foundation_mail.png") no-repeat 0 center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.contacts-item__address,
.contacts-item__phone,
.contacts-item__email {
  font-size: 14px;
  color: #333333;
}

.contacts-item__block {
  padding-left: 30px;
}

.contacts-item__block p {
  display: block;
  margin-top: 10px;
}

.contacts-item__block a {
  display: block;
  margin-top: 10px;
}

.contacts__breadcrumps--link_contact {
  text-decoration: none;
}

.section {
  padding: 50px 0;
}

.section-header {
  text-align: center;
}

.section-header__suptitle {
  color: #333333;
  font-size: 23px;
  display: block;
  margin-bottom: 15px;
  font-weight: normal;
}

.section-header__suptitle_white {
  color: #fff;
}

.section-header__title {
  font-size: 30px;
  line-height: 41px;
  color: #333333;
  font-family: "NotoSerif-Bold";
}

.section-header__title_white {
  color: #fff;
}

.section-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  font-family: inherit;
  background: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 51px;
  color: #333333;
  border: 1px solid #333333;
  max-width: 224px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.section-button_white {
  color: #FFFFFF;
  background: #333333;
  max-width: 255px;
}

.section-button:hover {
  color: #fff;
  background: #38eeee;
  border-color: #38eeee;
}

.btn-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Gilroy-Medium";
  cursor: pointer;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 35px;
  height: 45px;
  border: 1px solid #FFFFFF;
  background: #333333;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.btn-subscribe:hover {
  background: #38eeee;
  color: #333333;
}

.btn-subscribe:focus {
  outline: none;
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  color: #fff;
  font-size: 14px;
  margin: 0;
}

body.active {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

input::-ms-clear {
  display: none;
}

@media (min-width: 476px) {
  .form__input {
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .products .content-product__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 1250px) {
  .main__header .header__logo {
    margin: 0 50px;
  }

  .other__header .header__logo {
    margin: 0 50px;
  }
}

@media (max-width: 1200px) {
  .header-menu-list__item + .header-menu-list__item {
    margin-left: 30px;
  }

  .enter-header {
    margin: 0 30px;
  }

  .intro__inner {
    bottom: 120px;
  }

  .bottom-intro {
    display: none;
  }
}

@media (max-width: 1150px) {
  .blog__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .blog__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 381px;
    margin-bottom: 25px;
  }

  .product-menu-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .product-menu-list__item {
    margin-bottom: 15px;
  }
}

@media (max-width: 1145px) {
  .main__header .header__logo {
    margin: 0 25px;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 10px;
  }

  .enter-header {
    margin: 0 15px;
  }

  .header__logo {
    margin: 0 25px !important;
  }
}

@media (max-width: 1140px) {
  .events-menu-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .events-menu-list__item {
    margin-bottom: 15px;
  }
}

@media (max-width: 1112px) {
  .products .product__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .products .product__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 auto;
  }

  .products .product__content {
    margin-left: 0;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1112px) and (-ms-high-contrast: active), (max-width: 1112px) and (-ms-high-contrast: none) {
  .products .product__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media (max-width: 990px) {
  .nav-toggle {
    display: block;
  }

  .main__header .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 50px 0 0;
  }

  .main__header .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
  }

  .header-menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 70px;
    z-index: 15;
    padding-top: 55px;
  }

  .header-menu-list__item_arr:after {
    display: none;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 0px;
    margin-top: 10px;
  }

  .header-menu-list__link {
    font-size: 21px;
  }

  .actions-header {
    display: none;
    position: absolute;
    top: 100%;
    left: 70px;
    z-index: 5;
    padding-top: 162px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .search {
    display: none;
  }

  .enter-header {
    margin: 0;
  }

  .enter-header__link {
    font-size: 21px;
    margin-bottom: 15px;
  }

  .links-header {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 10px 0;
  }

  .links-header__img {
    height: 25px;
    width: 25px;
  }

  .events__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .events__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 350px;
  }

  .form {
    margin-left: 65px;
  }

  .footer__top {
    margin-bottom: 30px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-bottom: 15px;
  }

  .other__header .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 50px 0 0;
  }

  .other__header .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
  }

  .product__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .product-menu-list__link:after {
    display: none;
  }

  .seo__block + .seo__block {
    padding-left: 30px;
  }

  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 50px 0 0;
  }

  .contacts__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contacts__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 990px) and (-ms-high-contrast: active), (max-width: 990px) and (-ms-high-contrast: none) {
  .events__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }

  .product__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }
}

@media (max-width: 767px) {
  .events-menu-list {
    margin: 30px 0;
  }

  .events-menu-list__link {
    width: 135px;
  }

  .salon__description {
    margin: 15px auto 30px;
  }

  .blog__inner {
    margin: 25px -15px;
  }

  .blog__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .gallery {
    padding: 0 0 50px 0;
  }

  .gallery__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 278px;
  }

  .subscribe__row {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form {
    margin-top: 25px;
    margin-left: 0;
  }

  .footer {
    padding: 40px 0 20px;
  }

  .footer__header {
    margin-bottom: 15px;
  }

  .catalog {
    padding: 25px 0 0;
  }

  .product__inner {
    padding-top: 20px;
  }

  .product__button-more {
    margin: 5px 0 30px;
  }

  .seo__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .seo__block:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .seo__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .seo__block + .seo__block {
    margin-top: 35px;
    padding-left: 0;
  }

  .section {
    padding: 25px 0;
  }
}

@media (max-width: 660px) {
  .product__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 660px) and (-ms-high-contrast: active), (max-width: 660px) and (-ms-high-contrast: none) {
  .product__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 100% !important;
    flex: 0 1 100% !important;
  }
}

@media (max-width: 650px) {
  .footer-bottom__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-bottom__item {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .main__header .header__logo {
    margin: 0 25px 0 0;
  }

  .intro__title {
    margin-bottom: 25px;
  }

  .events {
    padding: 20px 0 20px;
  }

  .events__items {
    margin: 0 -15px;
  }

  .events__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .events-menu-list {
    margin: 30px 0 15px;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .gallery__item img {
    min-height: 200px;
  }

  .subscribe__row {
    margin-top: 15px;
  }

  .footer {
    padding: 20px 0 20px;
  }

  .footer__top {
    margin-bottom: 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .other__header .header__logo {
    margin: 0 25px 0 0 !important;
  }

  .product-item__img img {
    max-width: 100%;
  }

  .header__logo {
    margin: 0 25px 0 0;
  }

  .products {
    padding: 15px 0 30px;
  }

  .products .product__column {
    margin: 0;
  }

  .products .product__title {
    margin-bottom: 15px;
  }

  .products .product-breadcrumps-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .products .product-breadcrumps-list__item:after {
    display: block;
    margin: 5px auto;
  }

  .products .product-breadcrumps-list__item:last-child:after {
    display: none;
  }

  .products .content-product__row {
    padding: 20px 15px;
  }

  .products .content-product__btn {
    margin-top: 15px;
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .products .content-product__btn .btn {
    width: 100%;
    max-width: none;
  }

  .products .content-product__btn .btn-white {
    width: 100%;
    max-width: none;
  }

  .products .content-product-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .products .content-product-list__item {
    margin-left: 0;
    margin-top: 5px;
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .contacts__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 15px 0 0 0;
  }

  .section-header__title {
    line-height: 35px;
  }
}

@media screen and (max-width: 575px) and (-ms-high-contrast: active), (max-width: 575px) and (-ms-high-contrast: none) {
  .events__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0  !important;
    -ms-flex: 0 1 100%  !important;
    flex: 0 1 100%  !important;
  }
}

@media (max-width: 475px) {
  .form__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .form__input {
    margin-bottom: 15px;
  }

  .btn-subscribe {
    min-width: 174px;
  }
}

@media (max-width: 450px) {
  .events-menu-list__item:nth-child(3) {
    margin-left: 0;
  }

  .events-menu-list__item:nth-child(5) {
    margin-left: 0;
  }
}

@media (max-width: 449px) {
  .product-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .product-menu-list__item {
    margin-right: 0;
  }
}

@media (max-width: 390px) {
  .product-menu-list__subform {
    min-width: 235px;
  }

  .product-menu-list__submenu {
    padding: 5px 0 15px 15px;
  }

  .product-menu-list__subfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product-menu-list__subbtn {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-height: 480px) {
  .intro {
    min-height: 480px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .events__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }

  .product__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }

  .products .product__column {
    /* IE10+ specific styles go here */
    -webkit-box-flex: 0;
    -ms-flex: 0 1 47%;
    flex: 0 1 47%;
  }
}